{# @var item \App\Model\Github\Issue #}

<div class="row issue-item">
    <div class="panel panel-default">
        <div class="panel-body body">
            <div class="col-md-1 state">
                {% if item.open %}
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="title">
                    <a href="{{ path('app.issue.single_issue', {'owner': item.user.login, 'repo': item.repository.name, 'number': item.number}) }}">
                        {{ item.title }}
                    </a>
                    {% for label in item.labels %}
                        <span class="label" style="background-color: #{{ label.color }}">{{ label.name }}</span>
                    {% endfor %}
                </div>
                <div class="description">
                    #{{ item.number }} {{ 'issues.list.opened'|trans }} {{ item.createdAt|timeAgo }} {{ 'issues.list.by'|trans }} <span class="owner">{{ item.user.login }}</span>
                </div>
            </div>
            <div class="col-md-1 comments">
                {{ item.comments }}
            </div>
        </div>
    </div>
</div>